In [25]:
import soup
import pandas as pd

In [26]:
time_casa, tecnico_casa, gols_casa, onze_casa, banco_casa, subs_dict_casa = soup.time_casa, soup.tecnico_casa, soup.gols_casa, soup.onze_casa, soup.banco_casa, soup.subs_dict_casa

In [27]:
time_fora, tecnico_fora, gols_fora, onze_fora, banco_fora, subs_dict_fora = soup.time_fora, soup.tecnico_fora, soup.gols_fora, soup.onze_fora, soup.banco_fora, soup.subs_dict_fora

sub1_casa, sub2_casa, sub3_casa, sub4_casa, sub5_casa, sub1_casa_tempo, sub2_casa_tempo, sub3_casa_tempo, sub4_casa_tempo, sub5_casa_tempo = soup.sub1_casa, soup.sub2_casa, soup.sub3_casa, soup.sub4_casa, soup.sub5_casa, soup.sub1_casa_tempo, soup.sub2_casa_tempo, soup.sub3_casa_tempo, soup.sub4_casa_tempo, soup.sub5_casa_tempo

sub1_fora, sub2_fora, sub3_fora, sub4_fora, sub5_fora, sub1_fora_tempo, sub2_fora_tempo, sub3_fora_tempo, sub4_fora_tempo, sub5_fora_tempo = soup.sub1_fora, soup.sub2_fora, soup.sub3_fora, soup.sub4_fora, soup.sub5_fora, soup.sub1_fora_tempo, soup.sub2_fora_tempo, soup.sub3_fora_tempo, soup.sub4_fora_tempo, soup.sub5_fora_tempo

In [32]:
categories = ['jogo']
dcts = [time_casa, tecnico_casa, time_fora, tecnico_fora, gols_casa, gols_fora, onze_casa, onze_fora, banco_casa, banco_fora, sub1_casa, sub2_casa, sub3_casa, sub4_casa, sub5_casa, sub1_casa_tempo, sub2_casa_tempo, sub3_casa_tempo, sub4_casa_tempo, sub5_casa_tempo, sub1_fora, sub2_fora, sub3_fora, sub4_fora, sub5_fora, sub1_fora_tempo, sub2_fora_tempo, sub3_fora_tempo, sub4_fora_tempo, sub5_fora_tempo]

dfs = [
    pd.DataFrame([[time_casa.values(), tecnico_casa.values(), time_fora.values(), tecnico_fora.values(), gols_casa.values(), gols_fora.values(), 
                   onze_casa.values(), onze_fora.values(), banco_casa.values(), banco_fora.values(),
                  sub1_casa, sub2_casa, sub3_casa, sub4_casa, sub5_casa, sub1_casa_tempo, sub2_casa_tempo, 
                   sub3_casa_tempo, sub4_casa_tempo, sub5_casa_tempo, sub1_fora, sub2_fora, sub3_fora, 
                   sub4_fora, sub5_fora, sub1_fora_tempo, sub2_fora_tempo, sub3_fora_tempo, sub4_fora_tempo, sub5_fora_tempo] for v in dcts.values()])
    for dcts, v in zip(dcts, categories)
]

cols = {'columns': {0: 'time_casa', 1: 'tecnico_casa', 2: 'time_fora', 3: 'tecnico_fora', 4: 'gols_casa', 5: 'gols_fora', 
                    6: '11_casa', 7: '11_fora', 8: 'banco_casa', 9: 'banco_fora', 10: 'sub1_casa'}}
pd.concat(dfs).reset_index(drop=True).rename(**cols)

,time_casa,tecnico_casa,time_fora,tecnico_fora,gols_casa,gols_fora,11_casa,11_fora,banco_casa,banco_fora,...,20,21,22,23,24,25,26,27,28,29
0,(Cuiabá),(Alberto Valentim),(Juventude),(Marquinhos Santos),(2),(2),"([Walter, Lucas Ramon, Marllon Borges, Anderso...","([Marcelo Carné, Michel, Vitor Mendes, Rafael ...","([João Carlos, João Lucas, Paulão, José Walber...","([William, Cleberson, Paulo Henrique, Elton, M...",...,{},[],[],[],[],75,75,88,89,89