In [58]:
import PycharmProjects.substituicoes_br2021.soup as soup
import pandas as pd

In [59]:
time_casa, tecnico_casa, gols_casa, onze_casa, banco_casa, subs_dict_casa = soup.time_casa, soup.tecnico_casa, soup.gols_casa, soup.onze_casa, soup.banco_casa, soup.subs_dict_casa

In [60]:
time_fora, tecnico_fora, gols_fora, onze_fora, banco_fora, subs_dict_fora = soup.time_fora, soup.tecnico_fora, soup.gols_fora, soup.onze_fora, soup.banco_fora, soup.subs_dict_fora

In [62]:
categories = ['jogo']
dcts = [time_casa, tecnico_casa, time_fora, tecnico_fora, gols_casa, gols_fora, onze_casa, onze_fora, banco_casa, banco_fora]

dfs = [
    pd.DataFrame([[time_casa.values(), tecnico_casa.values(), time_fora.values(), tecnico_fora.values(), gols_casa.values(), gols_fora.values(), 
                   onze_casa.values(), onze_fora.values(), banco_casa.values(), banco_fora.values()] for v in dcts.values()])
    for dcts, v in zip(dcts, categories)
]

cols = {'columns': {0: 'time_casa', 1: 'tecnico_casa', 2: 'time_fora', 3: 'tecnico_fora', 4: 'gols_casa', 5: 'gols_fora', 6: '11_casa', 7: '11_fora', 8: 'banco_casa', 9: 'banco_fora'}}
pd.concat(dfs).reset_index(drop=True).rename(**cols)

,time_casa,tecnico_casa,time_fora,tecnico_fora,gols_casa,gols_fora,11_casa,11_fora,banco_casa,banco_fora
0,(Cuiabá),(Técnico: Alberto Valentim),(Juventude),(Técnico: Marquinhos Santos),(2),(2),"([Walter, Lucas Ramon, Marllon Borges, Anderso...","([Marcelo Carné, Michel, Vitor Mendes, Rafael ...","([João Carlos, João Lucas, Paulão, José Walber...","([William, Cleberson, Paulo Henrique, Elton, M..."